{% extends 'base.html' %}

{% block title %} Main : {{ block.super }}{% endblock %}

{% block content %}

<div class="card shadow-2-strong" style="border-radius: 1rem;">
    <h1>All transaction</h1>
    <table class="table" style="border-radius: 1rem;">
        <thead>
        <tr>
            <th scope="col">Hash</th>
            <th scope="col">Time</th>
            <th scope="col">Network-Token</th>
            <th scope="col">Status</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <th scope="row">1</th>
                <td>{{ transaction.transaction_hash|truncatechars:9 }}</td>
                <td>{{ transaction.correct_datetime }}</td>
                <td>{{ transaction.network_and_token }}</td>
                <td>{{ transaction.show_display }}</td>
                <td>{{ transaction.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}