{% extends 'base.html' %}

{% load template_helper %}

{% block title %} Auth : {{ block.super }}{% endblock %}

{% block content %}
<div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
            <h3 class="mb-5">Auth</h3>
            <form action="" method="POST">
                {% csrf_token %}

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>{{ error|escape }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{ error|escape }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="form-outline mb-4">

                </div>

                <div class="form-outline mb-4">

                </div>

                <hr class="my-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                <br>

            </form>
        </div>
    </div>
</div>
{% endblock %}
