{% extends 'base.html' %}
{% block title %} Google Auth : {{ block.super }}{% endblock %}

{% block content %}

<div>
    <h3>Google Auth</h3>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label>
            {{ form.user }}
        </div>
        <div class="mb-3">
            <label class="form-label">Username</label>
            {{ form.password }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}